<!-- <div class="bg-image">
  <mat-toolbar class="tool-bar">
    <img style="height: 100%;" src="../../../../assets/img/MochaMateLogoTrans.png">
    <span class="example-spacer"></span>
    <div style="display: flex; gap: 12px;">
      <button mat-flat-button (click)="openDialogLogIn()">
        LogIn
      </button>
      <button mat-flat-button (click)="openDialogSignUp()">
        SignUp
      </button>
    </div>
  </mat-toolbar>
</div> -->

<div class="bg-image">
  <mat-toolbar class="tool-bar">
    <img style="height: 100%;" src="../../../../assets/img/MochaMateLogoTrans.png">
    <span class="example-spacer"></span>
    <div style="display: flex; gap: 12px;">
      <button mat-flat-button (click)="openDialogLogIn()">
        LogIn
      </button>
      <button mat-flat-button (click)="openDialogSignUp()">
        SignUp
      </button>
    </div>
  </mat-toolbar>
</div>
<div class="centered-image">
  <img src="../../../../assets/img/MochaMateLogoAI2.png" alt="Centered Image">
</div>